/* body and html section*/
body{
    margin: 0;
    padding: 0;
    font-family: "Oswald",sans-serif;
    color: rgb(209, 229, 137);
}

html{
    scroll-behavior: smooth;
}
/* div conatiner*/
.container{
position: relative;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-content: center;
gap: 100px;
}
/*background viedo*/
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
    z-index: -1; /* Put behind content */
}
/* header*/
header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
}
/*Logo section*/
.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin: 0 15px;
}
/* header list*/
header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(43, 25, 205, 0.379);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #b4c3d7;
}

header ul li{
    list-style: none;
}
/*header links*/
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}
/* header effect*/
header ul a:hover{
    text-shadow: 0 0 15px black;
}
/*icons*/
.box-icons{
    display: flex;
    gap: 40px;
}
/*icons paragraph*/
.box-icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #b4c3d7;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
/*icons effect*/
.box-icons p:hover{
    background-color: #b4c3d7;
    color: black;
    box-shadow: 0 0 15px #b4c3d7;
}
/* 2nd background viedo section*/
.b-box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    mix-blend-mode: lighten;
  }
  
.b-box video{
    width: 100%;
  margin-top: 0;
  object-fit: cover;
}
/* hero section*/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /* align from top instead of middle */
    justify-content: space-between;
    padding: 80px 5% 0; /* 80px top space for nav */
    z-index: 1;
}

.hero-title {
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative; 
}
/* hero section viedo*/
.hero-video {
    flex: 1;
     align-items: center;
    justify-content: space-between;
    width: 120px;               /* control size */
    height: 220px;              /* control size */
    object-fit: cover;
    mix-blend-mode: lighten;
    border-radius: 10px;
    z-index: 1;
}

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;

}
/* hero section heading and paragraph*/
.hero-title h1,
.hero-title p,
header ul a {
    text-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.hero-title-1 p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #72a1dea2;
  padding: 8px 12px;
  border: 1px solid #c653f4a2;
  box-shadow: 0 0 5px #190657a2;
  background-color: #8068d096;
  border-radius: 8px;
  font-weight: 600;
}


.hero-title .hero-title-1{
color: #72a1dea2;
padding: 8px 5px;
border:1px solid #7c5ce3a2 ;
box-shadow: 0 0 5px #190657a2 ;
background-color: #513e9196;
}

.hero-title p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}
/* hero section button style & effects*/
.hero-title button{
    color: rgb(240, 239, 243);
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: hsla(268, 100%, 14%, 0.239);
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}

.hero-title button:hover{
    box-shadow: 0 0 15px #72a1de81;
}
/*sroll-down*/
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 50%;               
    bottom: 5%;              
    transform: translateX(-50%); 
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.626);
    z-index: 2;             
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
}

.scroll-down::before {
    top: 20%;
}

.scroll-down::after {
    top: 40%;
    animation-delay: 0.5s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
/*about section*/
.info-section{
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
 min-height: 100vh;     
margin-top: px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
}
/*about section card*/
.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
/* card*/
.card{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.5s;
}
/* card heading*/
.card h1{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}
/* card paragraph*/
.card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: gray;
    font-size: 13px;
    line-height: 20px;
}
/* card image*/
.card img{
    width: 80%;
    height: 50%;
    object-fit: cover;
}
/* card viedo*/
.card video{
    margin-top: 10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
/* card effect*/
.card:hover{
    box-shadow: 0 0 15px rgb(211, 211, 211);
}
/* Projects Section */
.my-projects {
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    width: 80%;
    margin: 200px auto 700px auto;
}
/* project card*/
.project-card {
    display: flex;
    gap: 10%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
/* project viedo and image section*/
.project-vidbox, .project-imgbox {
    width: 45%;
    min-width: 300px;
}
.project-vidbox video {
    width: 100%;               
    height: auto;
    border-radius: 20px;       
    object-fit: cover;         
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);  
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    filter: brightness(0.9) contrast(1.1);   
}

/* Hover effect */
.project-vidbox video:hover {
    transform: scale(1.03);          
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);  
    filter: brightness(1) contrast(1.1);      
}
/*project image */
.project-imgbox img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
    cursor: pointer;
}

/*/*project image hover effect */
.project-imgbox img:hover {
    transform: scale(1.05);             
    box-shadow: 0 15px 35px rgba(114, 76, 211, 0.811); 
    filter: brightness(1.1);               
}
/*project info section */
.project-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*project heading */
.project-info h1 {
    color: #a45fff;
    margin-bottom: 10px;
    font-size: 25px;
}
/*project paragraph */
.project-info p {
    color: #ccc;
    line-height: 1.6;
}

/* Responsive */
@media screen and (max-width: 900px){
    .project-card {
        flex-direction: column;
        align-items: center;
    }
    .project-vidbox, .project-imgbox, .project-info {
        width: 90%;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 80%;
    margin: 100px auto;
    color: #fff;
    font-family: sans-serif;
}

.info-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.info-contact a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease;
}

.info-contact a:hover {
    color: #ff7e5f;
}

.icon {
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.icon a {
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon a:hover {
    transform: scale(1.2);
    color: #ff7e5f;
}

.contact-box {
    background: rgba(34, 0, 73, 0.3);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.contact-box p {
    margin: 0;
    font-weight: 500;
}

.contact-box input {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
    transition: all 0.3s ease;
}

.contact-box input::placeholder {
    color: #ccc;
}

.contact-box input:focus {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
}

.input-message {
    height: 100px;
    resize: none;
}

.contact-box button {
    align-self: flex-start;
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.contact-box button:hover {
    opacity: 0.9;
    box-shadow: 0 0 15px #72a1de81;
    transform: translateY(-2px);
}

/* Footer Styling */
.footer {
    display: flex;
    justify-content: center;   
    align-items: center;       
    flex-direction: column;   
    gap: 10px;                 
    height: auto;              
    padding: 20px 0;
    background-color: rgba(112, 43, 186, 0.2); 
    color: white;            
    text-align: center;        
    border-top: 1px solid rgba(255,255,255,0.2); 
    z-index: 999;
    font-family: sans-serif;
}
/* footer heading */
.footer h1{
    font-size: 20px;
    align-items: center;
}

/* BLUR EFFECT ANIMAION */

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();

}
@keyframes autoBlurAnimation{
    0%{
        filter: blur(40px);
    }
    35%,65%{
        filter: blur(0);
        opacity: 1;
    }
    100%{
        filter: blur(40px);
        opacity: 0;
    }
}
/*Aspect Ratio responsiv*/

@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}
/* Tablet Responsive */
@media screen and (max-width: 768px) {
    .contact {
        width: 90%;
        gap: 30px;
    }
    .contact-box {
        padding: 20px;
    }
    .info-contact, .icon {
        justify-content: center;
        text-align: center;
    }
}

/*Medium screens*/
@media screen and (max-width: 1200px){
    .b-box{
        margin-top: -20%;
    }

    .hero-info h1{
        font-size: 40px;
        max-width: 400px;
        line-height: 40px;
    }

    .hero-info P{
        max-width: 300px;
    }


    .info-cards{
        grid-template-columns: auto;
    }

    .card:nth-child(3){
        grid-column: span 2;
        height: 70vh;
    }

    .info-cards .card h1{
        font-size: 20px;
    }

    .info-cards .card:nth-child(3) h1{
        bottom: 25%;
    }

    .card video{
        height: 60%;

        margin-top: 5%;
    }

    .my-project{
        margin-bottom: 200px;
        scale: 0.8;
    }

    .contact-section .section-title {
        left: 30%;
    }
}

/* Mobile Responsive*/

@media screen and (max-width: 480px) {


    .b-hole-{
        overflow: hidden;
    }

    .b-hole {
        width: 140%;
        margin-top: -27%;

    }

    .left {
        scale: 0.9;
        margin-left: -30px;
    }

    .left h2 {
        font-size: 20px;
    }

    .hero {
        scale: 0.9;
    }

    .hero-info{
        bottom: 15%;
    }

    .hero-info h1{
        font-size: 35px;
    }

    .scroll-down{
        bottom: 15%;
        left: 60%;
    }

    .section-title {
        font-size: 25px;
    }

    .info-cards{
        display: flex;
        flex-direction: column;
    }

    .card {
        min-height: 20rem;
    }

    .card h1{
        bottom: 30%;
        font-size: 5px;
    }

    .project-card {
        height: 50%;
    }

    .project-info p{
        margin-bottom: 15px;
    }

    .project-info{
        margin-left: -80px;
    }

    .contact-section{
        scale: 0.9;
        height: 120vh;
    }

    .contact-section .section-title {
        top: -30px;
        left: 25%;
    }

    .footer{
        padding: 15px;
    }

    .footer h1{
        max-width: 150px;
    }

    .footer .box-icons{
        gap: 10px;
    }


}












